%form{ :action => '/login', :method => 'POST' }
  %input{ :type => 'text', :name => 'email', :value => 'email' }
  %input{ :type => 'password', :name => 'password', :value => 'password' }
  %input{ :type => 'submit', :value => 'log in'}
