%nav
  %li
    - if current_account
      %form{ :action => '/account/logout', :method => 'POST' }
        %input{ :type => 'submit', :value => 'Logout' }
    - else    
      %a{ :href => '/login' } Login