!!!
%html
  %head
    %link{ :rel => "stylesheet", :href => "/css/base.css" }
  %body
    #container
      #content
        #backdrop
        %sidebar{ :id => 'itinerary' }
          %ul

        #map
        
      %footer

    -# external libraries
    %script{ :src => 'http://maps.google.com/maps/api/js?sensor=false' }		
    %script{ :src => "/js/lib/jquery.js" }
    
    -# my libraries
    %script{ :src => '/js/lib/scribe.js' }
    %script{ :src => '/js/lib/template.js' }
    %script{ :src => '/js/lib/remotely.js' }
    %script{ :src => '/js/lib/fugue.js' }

    -# application JS
    %script{ :src => '/js/tba.js' }    
    %script{ :src => '/js/tba.models.js' }
    %script{ :src => '/js/tba.views.js' }
    %script{ :src => '/js/tba.modules.js' }
    
    - if @trip
      :javascript
        tba.app.trip = #{ @trip.to_json }
        