!!! 5
%html
  %head
    %link{ :rel => "stylesheet", :href => "/css/base.css" }
  %body

    #backdrop.hide
    
    %header
      %nav
        %a{ :href => '#', :id => 'how_it_works', :title => 'How it works' } ?
          
      %h1 TravelByAssociation
      
    %sidebar
      .inner
        #admin
        %ul{ :id => 'itinerary' }
        #ad
      
    #map
      
    %footer

    -# external libraries
    %script{ :src => 'http://maps.google.com/maps/api/js?sensor=false' }
    %script{ :src => "/js/lib/jquery.js" }
    %script{ :src => "/js/lib/underscore.js" }    
    %script{ :src => "/js/lib/backbone.js" }
    %script{ :src => "/js/lib/marker.js" }    
  
    -# application JS
    %script{ :src => '/js/tba.js' }
    %script{ :src => '/js/application.js' }
  
    - if @trip
      :javascript
        
      