!!!
%html
  %head
    %link{ :rel => "stylesheet", :href => "/css/base.css" }
  %body
    #container
      %header
        = haml :"partials/header", :layout => false
      
      #content
        #backdrop
        = yield

      %footer
        = haml :"partials/footer", :layout => false
		
    %script{ :type => "text/javascript", :src => "/js/lib/jquery.js" }
    %script{ :type => "text/javascript", :src => "/js/boot.js" }
    = content :js