!!!
%html
  %head
    %link{ :rel => "stylesheet", :href => "/css/base.css" }
  %body
    #container
      %header
        = haml :"partials/header", :layout => false
      
      #content
        #backdrop
        = yield

      %footer
        = haml :"partials/footer", :layout => false
		
    %script{ :src => "/js/lib/jquery.js" }
    %script{ :src => "/js/boot.js" }
    %script{ :src => 'http://maps.google.com/maps/api/js?sensor=false'}
    = content :js