* {
	margin: 0;
	padding: 0;
}

body {
	color: #222;
	font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.hide {
  display: none !important;
}

#map {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  background: #222;
  height: 30px;
  line-height: 30px;
  color: #eee;
  padding: 0 20px;
}

header h1 {
  font-size: 22px;
}

header nav {
  float: right;
}

header nav a {
  float: left;
  color: #eee;
  font-size: 20px;
  margin-left: 20px;
}

#how_it_works {
  border: 2px solid #eee;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  line-height: 23px;
  text-align: center;
  margin-top: 2px;
}

sidebar {
  position: absolute;
  top: 50px;
  right: auto;
  bottom: 30px;
  left: 15px;
  background: #fff;
  opacity: .9;
  width: 250px;
  z-index: 100;
  
  -webkit-transition:all 0.8s ease-in-out;
	-moz-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;	
	-transition:all 0.8s ease-in-out;
	
	-moz-box-shadow: 5px 5px 5px #aaa;
  -webkit-box-shadow: 5px 5px 5px #aaa;
  box-shadow: 5px 5px 5px #aaa;
}

sidebar .inner {
  position: relative;
  height: 100%;
  width: 100%;
}

sidebar.hidden {
  left: -235px;
  -webkit-transition:all 0.8s ease-in-out;
	-moz-transition:all 0.8s ease-in-out;
	-o-transition:all 0.8s ease-in-out;
	-ms-transition:all 0.8s ease-in-out;	
	-transition:all 0.8s ease-in-out;
}

sidebar .ad {
  width: 234px;
  height: 60px;
  position: absolute;
  bottom: 5px;
  left: 8px;
  background: #eee;
}

.overlay {
  position: absolute;
  z-index: 1000;
  background: #fff;
  border: 1px solid #aaa;
  padding: 10px;
  -moz-box-shadow: 5px 5px 5px #aaa;
  -webkit-box-shadow: 5px 5px 5px #aaa;
  box-shadow: 5px 5px 5px #aaa;
  transition: top 0.8s;
  -moz-transition: top 0.8s;
  -webkit-transition: top 0.8s;
  -o-transition: top 0.8s;
}

.overlay .close {
  float: right;
  margin: -10px -10px 0 0;
}

#backdrop {
  background: #fff;
  opacity: .6;
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

#challenge form {
  border: none;
  overflow: hidden;
}

#challenge input {
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid #aaa;
  margin-bottom: 10px;
  width: 400px;
}

#challenge h3 {
  margin: 10px 0 15px;
  padding: 5px 10px;
  background: #fff;
}

#challenge form h3:hover {
  cursor: pointer;
  color: #CC3300;
}

#challenge form.active h3:hover {
  cursor: default;
  color: #222;
}

#challenge form.active h3 {
  background: yellow;
}

#challenge form {
  height: 38px;
  transition: height 0.8s;
  -moz-transition: height 0.8s;
  -webkit-transition: height 0.8s;
  -o-transition: height 0.8s;
}

#challenge form#login.active {
  height: 160px;
}

#challenge form#signup.active {
  height: 250px;
}

#itinerary {
  padding: 10px;
}

#itinerary li {
  list-style: none;
  border-bottom: 1px solid #eee;
}

#itinerary li:last-child {
  border: none;
}